<div class="row bufferBottom20">
    <div class="span10">
        <img src="~/Content/images/@ViewBag.PageHeaderImage" class="width100pc" />
    </div>
    <div class="span2">
        <img src="~/Content/images/scene.png" class="pull-right" />
    </div>
</div>