<h4 class="green-bg">Maintainance Options <small class="text-whitesmoke"></small></h4>
<ul class="nav nav-pills nav-stacked">
    @foreach (Models.MaintainOptionModel option in ViewBag.Options)
    {
        <li class="@(ViewBag.CurrentController == option.Controller ? "active" : "")">
            @Html.ActionLink(option.Text, option.Action, option.Controller)
        </li>
    }
</ul>